<h1>Welcome to The Game of WAR!</h1>

<p><%= link_to 'Log In', '#' %></p>
<p><%= link_to 'Sign Up', signup_path %></p>
<p><%= link_to 'View Leaderboards', leaderboard_path %></p>
<p><%= link_to 'Rules', '#' %></p>
<p><%= link_to 'About', '#' %></p>

<%#= image_tag ('cards/10_of_clubs') %>
