<h1>Create a new account</h1>
<p>Please enter the below information to create your account.</p>


<%= form_for(@user) do |f| %>

  <% if @user.errors.any? %>
  <h2><%= pluralize(@user.errors.count, 'error') %> prohibited this user from being created.</h2>
  <ul>
    <% @user.errors.full_messages.each do |msg| %>
    <li><%= msg %></li>
    <% end %>
  </ul>
  <% end %>

<div class="form-group">
  <%= f.label :name %>
  <%= f.text_field :name, class: 'form-control', placeholder: 'Name' %><br />

  <%= f.label :user_name %>
  <%= f.text_field :user_name, class: 'form-control', placeholder: 'User Name' %><br/>

  <%= f.label :email %>
  <%= f.email_field :email, class: 'form-control', placeholder: 'Email Address' %> <br />

  <%= f.label :password %>
  <%= f.password_field :password, class: 'form-control', placeholder: 'Password' %> <br />

  <%= f.label :password_confirmation %>
  <%= f.password_field :password_confirmation, class: 'form-control', placeholder: 'Password Confirmation' %> <br />

  <%= f.submit 'Create Account', class: 'btn btn-default' %>
</div>

<% end %>
